# Shop configuration
/source/config.inc.php

# Log
/source/log/
!/source/log/.htaccess
!/source/log/oxdebugdb_skipped.sql

# Cache
/source/cache/
!/source/cache/.htaccess
!/source/cache/dir.txt

# Export
/source/export/
!/source/export/.gitkeep

# Temporary files
/source/tmp/
!/source/tmp/.htaccess

# Composer
/source/vendor/
/composer.lock

# Testing library
/source/test_config.yml
/source/Services/

# Editions
/source/Edition/

# IDE
/.idea/
/.phpstorm-oxid.meta.php

# OS
.DS_Store
