# Shop configuration
/source/config.inc.php

# Log
!/source/log/
/source/log/*
!/source/log/.htaccess

# Cache
!/source/cache/
/source/cache/*
!/source/cache/.htaccess
!/source/cache/dir.txt
/.phpunit.result.cache

# Export
!/source/export/
/source/export/*
!/source/export/.gitkeep

# Temporary files
!/source/tmp/
/source/tmp/*
!/source/tmp/.htaccess

# Composer
/vendor/
/composer.lock

# IDE
/.idea/
/.phpstorm.meta.php
/.ide-helper.php

# OS
.DS_Store

# Shop config & DI for modules and packages
/var/

# DotEnv files
/.env
/.env.local
/.env.local.php
/.env.*.local

# Template files
/source/Application/views/*
