# Shop configuration
/source/config.inc.php

# Log
/source/log/
!/source/log/.htaccess
!/source/log/oxdebugdb_skipped.sql

# Cache
/source/cache/
!/source/cache/.htaccess
!/source/cache/dir.txt

# Export
/source/export/
!/source/export/.gitkeep

# Temporary files
/source/tmp/
!/source/tmp/.htaccess

# Theme
/source/Application/views/*
!/source/Application/views/admin
!/source/Application/views/azure

# out Folder
/source/out/*
!/source/out/admin
!/source/out/azure
!/source/out/downloads
!/source/out/media
!/source/out/pictures
/source/out/pictures/*
!/source/out/pictures/master
!/source/out/pictures/media
!/source/out/pictures/promo
!/source/out/pictures/vendor
!/source/out/pictures/wysiwigpro

# Modules
/source/modules/*
!/source/modules/composer.json
!/source/modules/functions.php.dist

# Except our own modules
!/source/modules/oe
/source/modules/oe/*
!/source/modules/oe/vendormetadata.php
!/source/modules/oe/invoicepdf

# Composer
/vendor/
/composer.lock

# Testing library
/test_config.yml
/source/Services/

# Editions
/source/Edition/

# IDE
/.idea/
/.phpstorm-oxid.meta.php

# OS
.DS_Store
