channels:
   default:
      handlers: [stderr,LogFileOxid,EXCEPTION_LOG]
      processors: [PsrLogMessageProcessor]
      use_microseconds: true
   security:
      extends: default
      handlers: [syslog]
   example:
      handlers: 
          - type: stream
            file: 'log/mymodule.log'
            level: debug
      use_microseconds: false
handlers:
   stderr:
       type: stream
       file: 'php://stderr'
       level: error
   LogFileOxid:
       type: stream
       file: 'log/oxid.log'
       level: info
   EXCEPTION_LOG:
       type: stream
       file: 'log/EXCEPTION_LOG'
       level: error
   syslog:
       type: syslog 
       level: info
   allOnError:
       type: fingers_crossed
       action_level: error
       handler: LogFileOxid
   custom:
       class: \Namespace\MyHandler
       constructor: [param1]
       level: error
processors:
   PsrLogMessageProcessor:
       class: PsrLogMessageProcessor
