<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
        bootstrap="./tests/bootstrap.php"
        cacheDirectory="./var/.phpunit.cache"
        processIsolation="true"
        backupGlobals="true"
        backupStaticProperties="true"
        beStrictAboutChangesToGlobalState="true"
        beStrictAboutCoverageMetadata="true"
        displayDetailsOnTestsThatTriggerNotices="true"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        displayDetailsOnTestsThatTriggerWarnings="true"
        displayDetailsOnTestsThatTriggerErrors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>source</directory>
        </include>
    </source>
    <php>
        <env name="OXID_CONTAINER_PROVIDER" value="OxidEsales\EshopCommunity\Tests\TestContainerFactory" force="true"/>
    </php>
</phpunit>
