<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="bootstrap.php"
         cacheTokens="true"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         verbose="false">
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../source</directory>
            <exclude>
                <directory suffix=".php">../source/Application/views</directory>
                <directory suffix=".php">../source/Application/translations</directory>
                <directory suffix=".php">../source/out</directory>
                <file>../source/Core/Autoload/UnifiedNameSpaceClassMap.php</file>
                <file>../source/Setup/De/lang.php</file>
                <file>../source/Setup/En/lang.php</file>
                <file>../source/Application/Controller/Admin/ShopCountries.php</file>
                <file>../source/out/admin/src/yui/oxid-aoc.js</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>