services:
  _defaults:
    autowire: true
    public: false

  oxid_esales.module.install.service.launched_shop_project_configuration_generator:
    class: OxidEsales\EshopCommunity\Internal\Framework\Module\Install\Service\ProjectConfigurationGenerator
    arguments:
      $context: '@OxidEsales\EshopCommunity\Internal\Transition\Utility\ContextInterface'
    public: true

  OxidEsales\EshopCommunity\Internal\Framework\Module\Install\Service\ModuleInstallerInterface:
    class: OxidEsales\EshopCommunity\Internal\Framework\Module\Install\Service\ModuleInstaller
    public: true