html {background-color: #e7eaed;height: 100%;margin:0;padding:0;}
body {margin:0;padding:15px;}

table {margin:0;border-collapse:separate;}
th, td {border:none;padding:0;}

.ddtarget, .ddtarget td{ background-color: #ccc !important;}

#container1, #container2, #container3 {height:100%;}
#container1_c, #container2_c, #container3_c {margin-right: -1px;}

.oxid-aoc {border:1px solid #e7eaed; background: #e7eaed; width:100%; height:100%;}

.oxid-aoc-table th, .oxid-aoc-table td {padding:0;}
.oxid-aoc-table, div.yui-dt-bd table {background-color: #fff;width: 100%;height: 100%;border: 1px solid #7f7f7f;border-right: 1px solid #cbcbcb;}
.oxid-aoc-table .yui-dt-table tbody{ margin: 11px;}

.oxid-aoc-category { padding-right: 21px;}
.oxid-aoc-category select { width:100%;}

.oxid-aoc-scrollbar { float: right; width: 20px; height: 100%; overflow: auto;}
.oxid-aoc-scrollbar div { width:2px;}

.oxid-aoc-actions { padding:2px 0;}

.oxid-aoc-hidden-col { display:none;}
.oxid-aoc-primary-cat {background-color: #09f !important;color: #fff;}

.yui-dt-table {width:100%;border: 0 !important;}
.yui-dt-table tbody  { border-left: 0 !important; border-bottom: 0 !important; border-right: 0 !important;}
.yui-dt-table thead  { border-left: 0 !important; border-right: 0 !important;}
.yui-dt-table td, .yui-dt-table th{ overflow:hidden; white-space:nowrap; font-size:11px;margin: 0 !important; padding: 0 !important;}
.yui-dt-table th input{ font-size: 10px; width: 100%;}

.yui-dt-hidden {width: 0 !important;display: none !important;}
.yui-dt-col-_0 div,.yui-dt-col-_1 div,.yui-dt-col-_2 div,
.yui-dt-col-_3 div,.yui-dt-col-_4 div,.yui-dt-col-_5 div { overflow: hidden;}
.yui-dt-liner { padding:2px 10px !important; overflow: hidden !important; height: 14px;cursor:default;}
.yui-dt-resizeable, .yui-dt-sortable{ margin: 0 !important; padding: 0 !important;}
.yui-dt-bd table {border: 0 !important;}

