body {
    background: #fafafa;
    color: #34495e;
}

div.admin-login-box {
    border: 0;
    padding: 0;
    border-radius: 0;
    background: #fff;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    width: 340px;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: auto;
}

div.admin-login-box form {
    padding: 20px 30px 30px;
}

#shopLogo {
    border-bottom: 1px solid #ddd;
    padding: 20px 50px 15px;
}

#shopLogo > img {
    height: 40px;
    width: 240px;
}

label {
    float: none;
    width: 100%;
    margin-bottom: 5px;
    display: block;
}

input, select {
    width: 100%;
    line-height: 24px;
    padding: 0 5px;
    box-sizing: border-box;
    background-color: #fafafa;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

select {
    height: 28px;
}

input[type="submit"] {
    color: #fff;
    width: 100%;
    margin: 20px 0 0;
    border: 0;
    border-radius: 20px;
    line-height: 28px;
    font-size: 105%;
}