body {
    font: 13px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #34495e;
}

a {
    color: #34495e
}

.messagebox {
    border-color: #bce8f1;
    color: #31708f;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
    background: #d9edf7
}

.warning {
    font-size: inherit;
    padding: 0;
    margin: 0;
    font-weight: 400;
    border: none
}

/* Tables */
#liste td.listitem, .box td.listitem {
    padding: 3px;
    border: 1px solid #ddd;
    border-width: 0 0 1px;
    background: #fff
}

#liste td.listitem2, .box td.listitem2 {
    padding: 3px;
    border: 1px solid #ddd;
    border-width: 0 0 1px;
    background: #fff
}

#liste td.listfilter, .box td.listfilter {
    background: none;
    border: none
}

#liste td.listfilter .r1, .box td.listfilter .r1 {
    background: none;
    border: none
}

#liste td.listfilter .b1, .box td.listfilter .b1 {
    background: none;
    border: none
}

#liste td.listheader, .box td.listheader {
    background: none;
    border: 2px solid #ddd;
    border-width: 0 0 2px;
    text-transform: uppercase
}

#liste td.listheader.first, .box td.listheader.first {
    border: 2px solid #ddd;
    border-width: 0 0 2px
}

#liste td.pagination, .box td.pagination {
    background: none;
    border-top: 1px solid #ddd
}

#liste td.pagination .r1, .box td.pagination .r1 {
    background: none
}

#liste td.pagination .b1, .box td.pagination .b1 {
    background: none;
    border: none
}

#liste table {
    border-collapse: collapse;
    width: 100%
}

#liste td.active, .box td.active {
    background: url(bg/facelift/ico_active_facelift.png) no-repeat center center
}

a.delete, a.unasign {
    background: url(bg/facelift/ico_delete_facelift.png) no-repeat 0 center
}

#liste {
    padding: 0 0 40px;
    margin: 0 -20px
}

#liste input, #liste select {
    height: 23px;
    box-sizing: border-box
}

#liste table tbody tr:nth-child(odd) td {
    background-color: #fafafa
}

#liste table td {
    border: 1px solid #ddd !important;
    padding: 4px 8px !important
}

#liste table td.listfilter {
    background: #eee !important
}

#liste table td.listfilter .b1 {
    height: auto
}

#liste table tbody tr:hover td {
    background-color: #f7f7f7
}

#liste .pagination td {
    border: 0 !important;
    padding: 0 !important
}

div.list {
    border: 1px solid #ddd;
    border-width: 0 0 1px
}

.listTable th {
    background: none;
    border-bottom: 2px solid #ddd;
    color: #34495e
}

/* Forms */
input[type="text"], input[type="password"], select {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
    color: #555;
    min-height: 15px;
    line-height: 1.42857;
    padding: 3px;
    font-size: 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    background: #fff;
}

select {
    min-height: 25px
}

input:disabled, select:disabled, textarea:disabled {
    background-color: rgb(235, 235, 228);
}

.saveButton, input[type="submit"], input[type="button"] {
    -moz-user-select: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 3px 5px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background: #fff
}

.saveButton:hover, input[type="submit"]:hover, input[type="button"]:hover, .btnShowHelpPanel:hover {
    background: #e6e6e6
}

.btnShowHelpPanel {
    background: url(bg/facelift/ico_help_facelift.png) no-repeat 1px 0 !important
}

form fieldset {
    background: none;
    border: 1px solid #ddd;
    padding: 0 0 5px 5px
}

.groupExp {
    background: none;
    margin-bottom: 7px;
    padding: 0
}

#genimportpage table, #genimportpage h3 {
    margin-left: 20px
}

td.edittext {
    padding: 1px 0
}

.edittext select.editinput {
    width: auto
}

/* Tabs */
.tabs .tab {
    border: none;
    background: transparent;
    height: 30px;
    border: 0
}

.tabs .tab .b1 {
    color: #787878;
    border: none;
    margin: 0;
    padding: 8px 10px;
}

.tabs .active .b1 a {
    color: #34495e;
    border: 1px solid #ddd;
    border-width: 1px 1px 0;
    border-radius: 4px 4px 0 0;
    padding: 10px
}

.tabs .tab .b1 a {
    padding: 0;
    border-radius: 0;
    color: inherit !important
}

.tabs .tab .b1 a:hover {
    color: #34495e;
    background: transparent
}

.tabs .active.first, .tabs .active {
    padding: 0;
    border-width: 1px 1px 0
}

.tabs .active a {
    background: lightgray
}

.tabs .first {
    border-width: 0 0 1px
}

.tabs .tab.disabled .b1 {
    padding: 8px
}

.tabs {
    width: 100%;
    background: #eee;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-shadow: -3px 0 10px rgba(0, 0, 0, .1);
    margin: 0 -21px
}

.tabs .tab.active .b1 {
    background: #fff;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding-bottom: 10px !important;
    margin-bottom: -2px
}

.tabs .tab.active .b1 a {
    background: none;
    border-radius: 0 !important;
    border: 0
}

.tabs .last .r1 {
    background: none;
    padding-right: 0
}

div.box {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 41px;
    padding: 20px;
    height: auto;
    margin: 0
}

div.actions {
    border: 1px solid #ddd;
    border-width: 1px 0 0;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    margin: 0;
    box-shadow: -3px 0 10px rgba(0, 0, 0, .1);
    background: #fff
}