services:
  _defaults:
    autowire: true

  OxidEsales\EshopCommunity\Internal\Framework\Module\Setup\Bridge\ModuleActivationBridgeInterface:
    class: OxidEsales\EshopCommunity\Internal\Framework\Module\Setup\Bridge\ModuleActivationBridge
    public: true

  OxidEsales\EshopCommunity\Internal\Framework\Module\Setup\Service\ModuleDependencyResolverInterface:
    class: OxidEsales\EshopCommunity\Internal\Framework\Module\Setup\Service\ModuleDependencyResolver

  OxidEsales\EshopCommunity\Internal\Framework\Module\Setup\Service\ModuleActivationServiceInterface:
    class: OxidEsales\EshopCommunity\Internal\Framework\Module\Setup\Service\ModuleActivationService
    arguments:
      $deactivationDependencyValidator: '@oxid_esales.module.setup.validator.deactivation_dependency_validator'

  OxidEsales\EshopCommunity\Internal\Framework\Module\Setup\Service\ModuleServicesImporterInterface:
    class: OxidEsales\EshopCommunity\Internal\Framework\Module\Setup\Service\ModuleServicesImporter

  OxidEsales\EshopCommunity\Internal\Framework\Module\Setup\Validator\ModuleConfigurationValidatorInterface:
    class: OxidEsales\EshopCommunity\Internal\Framework\Module\Setup\Validator\ModuleConfigurationValidatorAggregate
    arguments:
      - '@oxid_esales.module.setup.validator.controllers_module_setting_validator'
      - '@oxid_esales.module.setup.validator.class_extensions_module_setting_validator'
      - '@oxid_esales.module.setup.validator.events_module_setting_validator'
      - '@oxid_esales.module.setup.validator.services_yaml_validator'
      - '@oxid_esales.module.setup.validator.activation_dependency_validator'

  oxid_esales.module.setup.validator.controllers_module_setting_validator:
    class: OxidEsales\EshopCommunity\Internal\Framework\Module\Setup\Validator\ControllersValidator

  oxid_esales.module.setup.validator.class_extensions_module_setting_validator:
    class: OxidEsales\EshopCommunity\Internal\Framework\Module\Setup\Validator\ClassExtensionsValidator

  oxid_esales.module.setup.validator.events_module_setting_validator:
    class: OxidEsales\EshopCommunity\Internal\Framework\Module\Setup\Validator\EventsValidator

  oxid_esales.module.setup.validator.activation_dependency_validator:
    class: OxidEsales\EshopCommunity\Internal\Framework\Module\Setup\Validator\ActivationDependencyValidator

  oxid_esales.module.setup.validator.deactivation_dependency_validator:
    class: OxidEsales\EshopCommunity\Internal\Framework\Module\Setup\Validator\DeactivationDependencyValidator

  oxid_esales.module.setup.validator.services_yaml_validator:
    class: OxidEsales\EshopCommunity\Internal\Framework\Module\Setup\Validator\ServicesYamlValidator
    arguments:
      - '@OxidEsales\EshopCommunity\Internal\Transition\Utility\ContextInterface'

  oxid_esales.module.setup.service.eventsubscriber.dispatch_legacy_events_subscriber:
    class: OxidEsales\EshopCommunity\Internal\Framework\Module\Setup\EventSubscriber\DispatchLegacyEventsSubscriber
    tags:
      - { name: kernel.event_subscriber }

  oxid_esales.module.setup.service.eventsubscriber.event_logging_subscriber:
    class: OxidEsales\EshopCommunity\Internal\Framework\Module\Setup\EventSubscriber\EventLoggingSubscriber
    tags:
      - { name: kernel.event_subscriber }

  OxidEsales\EshopCommunity\Internal\Framework\Module\Setup\Service\ActiveClassExtensionChainResolverInterface:
    class: OxidEsales\EshopCommunity\Internal\Framework\Module\Setup\Service\ActiveClassExtensionChainResolver
    public: true
