!configuration/parameters.yaml.dist
!/configuration/
/configuration/*
!/configuration/services.yaml.dist
/configuration.dev/*
!/configuration.dev/
!/configuration.dev/parameters.yaml.dist
!/configuration.dev/services.yaml.dist
!/configuration/shops/
/configuration/shops/*
!/configuration/shops/1/
/configuration/shops/1/*
!/configuration/shops/1/parameters.yaml.dist
!/configuration/shops/1/services.yaml.dist
/configuration.dev/shops/*
!/configuration.dev/shops/
/configuration.dev/shops/1/*
!/configuration.dev/shops/1/
!/configuration.dev/shops/1/parameters.yaml.dist
!/configuration.dev/shops/1/services.yaml.dist
