imports:
    - { resource: Dao/services.yaml }
    - { resource: Service/services.yaml }
    - { resource: Utility/services.yaml }
    - { resource: Event/services.yaml }
    - { resource: ../Framework/FileSystem/bootstrap-services.yaml }
    - { resource: ../Framework/Module/Install/bootstrap-services.yaml }
    - { resource: ../Framework/Module/MetaData/bootstrap-services.yaml }
    - { resource: ../Framework/Module/Configuration/bootstrap-services.yaml }
    - { resource: ../Framework/Event/services.yaml }
