<?php
/**
 * This file is part of OXID eShop Community Edition.
 *
 * OXID eShop Community Edition is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * OXID eShop Community Edition is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with OXID eShop Community Edition.  If not, see <http://www.gnu.org/licenses/>.
 *
 * @link      http://www.oxid-esales.com
 * @copyright (C) OXID eSales AG 2003-2016
 * @version   OXID eShop CE
 */

    /** database connection information */
    $this->dbType = 'mysqli';
    $this->dbHost = '<dbHost>'; // database host name
    // $this->dbPort  = <dbPort>; // tcp port to which the database is bound
    $this->dbName = '<dbName>'; // database name
    $this->dbUser = '<dbUser>'; // database user name
    $this->dbPwd  = '<dbPwd>'; // database user password
    $this->sShopURL     = '<sShopURL>'; // eShop base url, required
    $this->sSSLShopURL  = null;            // eShop SSL url, optional
    $this->sAdminSSLURL = null;            // eShop Admin SSL url, optional
    $this->sShopDir     = '<sShopDir>';
    $this->sCompileDir  = '<sCompileDir>';

    // UTF-8 mode in shop 0 - off, 1 - on
    $this->iUtfMode = '<iUtfMode>';

    // Force shop edition. Even if enterprise or professional packages exists, shop edition can still be forced here.
    // Possible options: CE|PE|EE or left empty (will be determined automatically).
    $this->edition = '';

    // Location of composer's vendor directory.
    $this->vendorDirectory = __DIR__ . '/../vendor';

    // File type whitelist for file upload
    $this->aAllowedUploadTypes = array('jpg', 'gif', 'png', 'pdf', 'mp3', 'avi', 'mpg', 'mpeg', 'doc', 'xls', 'ppt');

    // timezone information
    date_default_timezone_set('Europe/Berlin');

    // Search engine friendly URL processor
    // After changing this value, you should rename oxid.php file as well
    // Always leave .php extension here unless you know what you are doing
    $this->sOXIDPHP = "oxid.php";

    //  enable debug mode for template development or bugfixing
    // -1 = Log more messages and throw exceptions on errors (not recommended for production)
    //  0 = off
    //  1 = smarty
    //  2 = SQL
    //  3 = SQL + smarty
    //  4 = SQL + smarty + shoptemplate data
    //  5 = Delivery Cost calculation info
    //  6 = SMTP Debug Messages
    //  7 = oxDbDebug SQL parser
    //  8 = display smarty template names (requires /tmp cleanup)
    $this->iDebug = 0;

    // Log all modifications performed in Admin
    $this->blLogChangesInAdmin = false;

    // Force admin email. Offline warnings are sent with high priority to this address.
    $this->sAdminEmail = '';
    // Defines the time interval in seconds warnings are sent during the shop is offline.
    $this->offlineWarningInterval = 60 * 5;

    // in case session must be started on first user page visit (not only on
    // session required action) set this option value 1
    $this->blForceSessionStart = false;

    // Use browser cookies to store session id (no sid parameter in URL)
    $this->blSessionUseCookies = true;

    // The domain that the cookie is available: array( _SHOP_ID_ => _DOMAIN_ );
    // check setcookie() documentation for more details @php.net
    $this->aCookieDomains = null;

    // The path on the server in which the cookie will be available on: array( _SHOP_ID_ => _PATH_ );
    // check setcookie() documentation for more details @php.net
    $this->aCookiePaths = null;

    // uncomment the following line if you want to leave euro sign unchanged in output
    // by default is set to convert euro sign symbol to html entity
    // $this->blSkipEuroReplace = true;

    // List of all Search-Engine Robots
    $this->aRobots = array(
                        'googlebot',
                        'ultraseek',
                        'crawl',
                        'spider',
                        'fireball',
                        'robot',
                        'slurp',
                        'fast',
                        'altavista',
                        'teoma',
                        'msnbot',
                        'bingbot',
                        'yandex',
                        'gigabot',
                        'scrubby'
                        );

    // Deactivate Static URL's for these Robots
    $this->aRobotsExcept = array();

    // IP addresses for which session/cookie id match and user agent change checks are off
    $this->aTrustedIPs = array();

    /**
     * Works only if basket reservations feature is enabled in admin.
     *
     * The number specifies how many expired basket reservations are
     * cleaned per one request (to the eShop).
     * Cleaning a reservation basically means returning the reserved
     * stock to the articles.
     *
     * Keeping this number too low may cause article stock being returned too
     * slowly, while too high value may have spiking impact on the performance.
     */
    $this->iBasketReservationCleanPerRequest = 200;

    /**
     * should template blocks be highlighted in frontend ?
     * this is mainly intended for module writers in non productive environment
     */
    $this->blDebugTemplateBlocks = false;

    /**
     * should requests, coming via stdurl and not redirected to seo url be logged to seologs db table?
     * note: only active if in productive mode, as the eShop in non productive more will always log such urls
     */
    $this->blSeoLogging = false;

    /**
     * To override oxubase::_aUserComponentNames use this array option:
     * array keys are component(class) names and array values defines if component is cacheable (true/false)
     * e.g. array("user_class" => false);
     */
    $this->aUserComponentNames = null;

    /**
     * Default database connection character set. This option is only used when config option iUtfMode is set to 0.
     */
    $this->sDefaultDatabaseConnection = 'latin1';

    /**
     * Additional multi language tables
     */
    $this->aMultiLangTables = null;

    /**
     * Instructs shop that price update is perfomed by cron (time based job sheduler)
     */
    $this->blUseCron = false;

    /**
     * Do not disable module if class from extension path does not exist.
     */
    $this->blDoNotDisableModuleOnError = false;

    /**
     * Enable temporarily in case you can't access the backend due to broken views
     */
    $this->blSkipViewUsage = false;

    /**
     * Enterprise Edition related config options.
     * This options have no effect on Community/Professional Editions.
     */

    //Time limit in ms to be notified about slow queries
    $this->iDebugSlowQueryTime = 20;

    // enables Rights and Roles engine
    // 0 - off,
    // 1 - only in admin,
    // 2 - only in shop,
    // 3 - both
    $this->blUseRightsRoles = 3;

    //define oxarticles fields which could be edited individually in subshops
    //do not forget to add these fields to oxfield2shop table
    //note the field names are case sensitive here
    $this->aMultishopArticleFields = array("OXPRICE", "OXPRICEA", "OXPRICEB", "OXPRICEC", "OXUPDATEPRICE", "OXUPDATEPRICEA", "OXUPDATEPRICEB", "OXUPDATEPRICEC", "OXUPDATEPRICETIME");

    //Show "Update Views" button in admin
    $this->blShowUpdateViews = true;

    // If default 30 seconds is not enougth
    // @set_time_limit(3000);

    /**
     * Database master-slave configuration:
     * aSlaveHosts - array of slave hosts: array('localhost', '10.2.3.12')
     * iMasterSlaveBalance - balance between master and slaves from 0 to 100; 0 - all select queries on slaves, 100 - all on master;
     * To turn on balance between Master and Slave, Mater IP or host must be added to aSlaveHost array.
     */
    $this->aSlaveHosts = null;
    $this->iMasterSlaveBalance = 0;
