name: Weekly MariaDB runs

on:
  schedule:
    - cron: '17 23 * * 6'

jobs:
  oxideshop_ce_71x_nightly:
    if: always()
    uses: oxid-eSales/github-actions/.github/workflows/universal_workflow_light.yaml@v4
    with:
      testplan: '~/defaults/7.1.x.yaml,~/defaults/php8.1_8.2_mariadb11_only.yaml,~/defaults/scheduled.yaml,~/shop_ce.yaml,~/_custom.yaml'
      runs_on: '"ubuntu-latest"'
      defaults: 'v4'
      plan_folder: '.github/oxid-esales'
      custom_testplan_yaml: |
        global:
          title: '7.1.x-mariadb-weekly'
        finish:
          slack_title: 'Weekly Shop CE 7.1.x/MariaDB on {{ .Github.Repository }}'
      use_scheduled_slack_channel: true
    secrets:
      DOCKER_HUB_USER: ${{ secrets.DOCKER_HUB_USER }}
      DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}
      CACHE_ENDPOINT: ${{ secrets.CACHE_ENDPOINT }}
      CACHE_ACCESS_KEY: ${{ secrets.CACHE_ACCESS_KEY }}
      CACHE_SECRET_KEY: ${{ secrets.CACHE_SECRET_KEY }}
      enterprise_github_token: ${{ secrets.enterprise_github_token }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      SLACK_SCHEDULED_WEBHOOK_URL: ${{ secrets.SLACK_SCHEDULED_WEBHOOK_URL }}

  oxideshop_ce_72x_nightly:
    if: always()
    uses: oxid-eSales/github-actions/.github/workflows/universal_workflow_light.yaml@v4
    with:
      testplan: '~/defaults/7.2.x.yaml,~/defaults/php8.2_8.3_mariadb11_only.yaml,~/defaults/scheduled.yaml,~/shop_ce.yaml,~/_custom.yaml'
      runs_on: '"ubuntu-latest"'
      defaults: 'v4'
      plan_folder: '.github/oxid-esales'
      custom_testplan_yaml: |
        global:
          title: '7.2.x-mariadb-weekly'
        finish:
          slack_title: 'Weekly Shop CE 7.2.x/MariaDB on {{ .Github.Repository }}'  
      use_scheduled_slack_channel: true
    secrets:
      DOCKER_HUB_USER: ${{ secrets.DOCKER_HUB_USER }}
      DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}
      CACHE_ENDPOINT: ${{ secrets.CACHE_ENDPOINT }}
      CACHE_ACCESS_KEY: ${{ secrets.CACHE_ACCESS_KEY }}
      CACHE_SECRET_KEY: ${{ secrets.CACHE_SECRET_KEY }}
      enterprise_github_token: ${{ secrets.enterprise_github_token }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      SLACK_SCHEDULED_WEBHOOK_URL: ${{ secrets.SLACK_SCHEDULED_WEBHOOK_URL }}

  oxideshop_ce_80x_nightly:
    if: always()
    uses: oxid-eSales/github-actions/.github/workflows/universal_workflow_light.yaml@v4
    with:
      testplan: '~/defaults/8.0.x.yaml,~/defaults/php8.2_8.3_mariadb11_only.yaml,~/defaults/scheduled.yaml,~/shop_ce.yaml,~/_custom.yaml'
      runs_on: '"ubuntu-latest"'
      defaults: 'v4'
      plan_folder: '.github/oxid-esales'
      custom_testplan_yaml: |
        global:
          title: '8.0.x-mariadb-weekly'
        finish:
          slack_title: 'Weekly Shop CE 8.0.x/MariaDB on {{ .Github.Repository }}'
      use_scheduled_slack_channel: true
    secrets:
      DOCKER_HUB_USER: ${{ secrets.DOCKER_HUB_USER }}
      DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}
      CACHE_ENDPOINT: ${{ secrets.CACHE_ENDPOINT }}
      CACHE_ACCESS_KEY: ${{ secrets.CACHE_ACCESS_KEY }}
      CACHE_SECRET_KEY: ${{ secrets.CACHE_SECRET_KEY }}
      enterprise_github_token: ${{ secrets.enterprise_github_token }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      SLACK_SCHEDULED_WEBHOOK_URL: ${{ secrets.SLACK_SCHEDULED_WEBHOOK_URL }}
